.nav-link-custom {
    text-decoration: none;
    transition: color 0.3s ease;
    color:white;
    min-width: 120px;    
    height: 40px;        
    line-height: 40px;   
    text-align: center;  
    display: inline-block;
  }
  
  .nav-link-custom:hover{
    background-color: rgb(128, 168, 68);
    color:white;
    border-radius:3px;
  }
  .nav-link-custom.active-link {
    background-color: rgb(22, 152, 22); 
    color:white;
    border-radius:3px;
  }
  